<ion-header>
  <ion-toolbar>
    <ion-title>Editar perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <form>
      <ion-list>
        <ion-item>
          <ion-label position="stacked"> Nombre Completo </ion-label>
          <ion-input required type="text" [(ngModel)]="nombre" name="nombre"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked"> Email</ion-label>
          <ion-input required type="email"[(ngModel)]="email" name="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked"> Celular</ion-label>
          <ion-input type="tel" required [(ngModel)]="celular" name="celular"></ion-input>
        </ion-item>

        <ion-button type="submit" expand="block" shape="round" (click)="updateProfile()"> Actualizar</ion-button>
      </ion-list>
    </form>
  </ion-card>


</ion-content>
