<ion-header>
  
  <ion-toolbar  color="dark">
    <ion-buttons slot="start">
      <ion-back-button text="Volver" mode="ios" defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Asignaturas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

<ion-card>
  <ion-card-header>
    <ion-card-title>Programacion de base de datos</ion-card-title>
    <ion-card-subtitle>% de asistencia: 84%</ion-card-subtitle>
  </ion-card-header>

  <ion-button (click)="gotoAsistencia()" fill="clear">Marcar asistencia</ion-button>


  <ion-card-header>
    <ion-card-title>Programacion de aplicaciones moviles</ion-card-title>
    <ion-card-subtitle>% de asistencia: 40%</ion-card-subtitle>
  </ion-card-header>

  <ion-button (click)="gotoAsistencia()" fill="clear">Marcar asistencia</ion-button>


  <ion-card-header>
    <ion-card-title>Ingles intermedio 2</ion-card-title>
    <ion-card-subtitle>% de asistencia: 82%</ion-card-subtitle>
  </ion-card-header>

  <ion-button (click)="gotoAsistencia()" fill="clear">Marcar asistencia</ion-button>


  <ion-card-header>
    <ion-card-title>Etica para el trabajo</ion-card-title>
    <ion-card-subtitle>% de asistencia: 60%</ion-card-subtitle>
  </ion-card-header>
  
  <ion-button (click)="gotoAsistencia()" fill="clear">Marcar asistencia</ion-button>
</ion-card>



