<ion-header>
  <ion-toolbar color="dark">

    <ion-title>
      Home
    </ion-title>

    <ion-icon slot="end" name="person-circle-outline" class="ion-padding" size="large"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">

    <ion-button expand="block" shape="round" (click)="gotoProfile()">Perfil</ion-button>
    <ion-button expand="block" shape="round" (click)="gotoListas()">Asignaturas</ion-button>
    <ion-button expand="block" shape="round" (click)="logout()">Cerrar sesion</ion-button>



</ion-content>
